@charset "UTF-8";

/* em HTML é id= em CSS é # 
  em HTML é clas= em CSS é . */

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(73, 109, 71);

}

.basico {
    color: #60F775;
}

.intermediario {
    color: #808d08;
}

.avancado {
    color: #b91409;
}

.destaque {
    background-color: rgb(141, 141, 54);
}